{% set iface = 'ansible_' + item %}
NAME="{{ item }}"
DEVICE="{{ item }}"
BOOTPROTO=none
ONBOOT=yes
SLAVE=yes
MASTER="{{ bond }}"
MTU="{{ mtu }}"
HWADDR="{{ hostvars[ansible_hostname][iface].macaddress }}"
{% if keep_slave_ipv4 %}
{% if hostvars[ansible_hostname][iface].ipv4 %}
IPADDR="{{ hostvars[ansible_hostname][iface].ipv4.address }}"
NETMASK="{{ hostvars[ansible_hostname][iface].ipv4.netmask }}"
{% endif %}
{% endif %}
